@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&display=swap');

/*-----------------------------------
	General Styles
-----------------------------------*/

body {
  font-size: 14px;
  background-color: #f2f6f9;
  font-family: Arial;
}
.WithStyles\(ForwardRef\(Badge\)\)-badge-3 {
  right: 0;
}
ul {
  list-style-type: none;
}

a:hover {
  text-decoration: none;
}

/*----------------------------------- 
	Main
-----------------------------------*/

.container.text-center {
  padding: 0 32px;
}

/*-----------------------------------  
	Logo and description 
----------------------------------- */

.col-md-5.col-sm-12 {
  padding: 0;
}

.col-md-5.col-sm-12 h1 {
  color: #595c5f;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left;
}

.col-md-5.col-sm-12 p {
  color: #898e92;
  line-height: 1.5;
  max-width: 400px;
  text-align: justify;
}

.bigcart {
  background-position: 0px 11px;
  background-repeat: no-repeat;
  width: 155px;
  height: 120px;
  margin: 0 0 40px 60px;
}

/*-----------------------------------  
	Cart items list
-----------------------------------*/

.col-md-7.col-sm-12 {
  padding-left: 50px;
  margin-bottom: 72px;
}

.row {
  box-shadow: 0 1px 0 #e1e5e8;
  padding-bottom: 0;
  padding-left: 15px;
  background-color: #ffffff;
  margin-bottom: 11px;
}

.row span {
  padding: 20px 0 6px 0;
}

/* Column Captions */

.columnCaptions {
  color: #7e93a7;
  text-transform: uppercase;
  padding: 0;
  box-shadow: 0 0 0;
  background-color: #f2f6f9;
}

.columnCaptions span:first-child {
  padding-left: 8px;
}

.columnCaptions span {
  padding: 0 21px 0 0;
}

.columnCaptions span:last-child {
  float: right;
  padding-right: 72px;
}

/* Items */

.itemName {
  color: #727578;
  font-size: 16px;
  font-weight: bold;
  float: left;
  padding-left: 25px;
}

.quantity {
  color: #4ea6bc;
  font-size: 18px;
  font-weight: bold;
  float: left;
  width: 42px;
  padding-left: 7px;
}

.popbtn {
  background-color: #e6edf3;
  margin-left: 25px;
  height: 63px;
  width: 40px;
  padding: 32px 0 0 14px !important;
  float: right;
  cursor: pointer;
}

.arrow {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #858e97;
}

.price {
  color: #f06953;
  font-size: 18px;
  font-weight: bold;
  float: right;
}

/* Totals */

.totals {
  background-color: #f2f6f9;
}

.totals span {
  padding: 40px 15px 40px 0;
}

.totals .price {
  float: left;
}

.totals .itemName {
  margin-top: 1px;
}

.totals .order {
  float: right;
  padding: 0;
  margin-top: 40px;
  padding-left: 5px;
  cursor: pointer;
}

.order a {
  background-color: #f08573;
  color: #fbfffa;
  font-weight: bold;
  border-radius: 2px;
  padding: 20px 30px;
}

/* Popovers */

.popover {
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.2);
  border: 0;
  background-color: #ffffff;
}

.popover.bottom {
  margin-top: -9px;
}

.glyphicon {
  width: 24px;
  font-size: 24px;
  padding: 0;
}

.glyphicon-pencil {
  color: #858e97;
  margin: 7px 12px 7px 10px;
}

.glyphicon-remove {
  color: #f06953;
  margin-right: 10px;
}

/*-----------------------------------  
	Media Queries 
----------------------------------- */

/* Tablet size */

@media (max-width: 992px) {
  .container.text-center {
    padding: 0 15px;
  }

  .breadcrumb {
    margin-bottom: 32px;
  }

  .bigcart {
    margin: 0 auto 40px auto;
  }

  .col-md-5.col-sm-12 h1 {
    text-align: center;
  }

  .col-md-5.col-sm-12 p {
    margin: 0 auto 64px auto;
    text-align: justify;
  }

  .col-md-7.col-sm-12 {
    padding-left: 10px;
    padding-right: 50px;
  }

  .totals {
    box-shadow: 0 0 0;
  }
}

/* Mobile device size */

@media (max-width: 768px) {
  .navbar {
    padding: 10px 0;
  }

  .minicart {
    margin-right: -1px;
    padding-right: 0;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .breadcrumbBox {
    height: 80px;
    padding-top: 21px;
  }

  .col-md-5.col-sm-12 p {
    max-width: 300px;
  }

  .col-md-7.col-sm-12 {
    padding-left: 0;
    padding-right: 15px;
    margin-bottom: 32px;
  }

  .col-md-7.col-sm-12 ul {
    padding-left: 15px;
  }

  .columnCaptions span {
    padding: 0 21px 0 0;
  }

  .columnCaptions span:last-child {
    float: right;
    padding-right: 42px;
  }

  .row {
    padding-bottom: 10px;
  }

  .quantity {
    width: 23px;
    padding-right: 40px !important;
  }

  .popbtn {
    background-color: white;
    position: absolute;
    height: 40px;
    right: 0;
  }

  .price {
    position: absolute;
    right: 42px;
  }

  .totals {
    padding: 0;
  }

  .totals .price {
    position: static;
  }

  /* Change Bootstrap's default popover to make it look nice on a mobile device */

  .popover.bottom > .arrow {
    left: auto;
    margin-left: 0;
    right: 5px;
  }

  .popover.bottom {
    margin-top: 7px;
    margin-left: -40px;
  }
}

/* Design From Rakesh */
.button {
  border: none;
  color: rgb(0, 0, 0);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
}
.cartItems {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  margin-bottom: 12px;
}
.myOrderSec {
  width: 100%;
}
.mainOrderSec {
  padding: 15px;
}
.myOrderChangeOrder {
  border: 1px solid;
  padding: 10px;
  border-radius: 15px;
  background-color: white;
}
.myOrderChangeOrder ul {
  padding-left: 1rem;
}
.myOrderChangeOrder ul,
.myOrderChangeOrder p {
  margin: 0;
}
.orderWithQnt {
  /* display: flex; */
  width: 100%;
  /* margin-bottom: 15px; */
}
.currentOrderImage {
  width: 80px;
  height: 80px;
  /* border: 1px solid;
  border-radius: 10px; */
}
.currentOrderImage img {
  width: 100%;
  height: 100%;
  padding: 1px;
}
.currentOrderProduct {
  padding-left: 15px;
}
.currentOrderProduct p {
  margin: 0;
}
.currentOrderQnt {
  margin-left: auto;
}
.currentOrderQnt div {
  border: 1px solid;
  border-radius: 4px;
  white-space: nowrap;
}
.promoWithTotal {
  display: flex;
  margin-top: 10px;
}
.promoWithTotal p {
  margin: 0;
}
.totalWithTax {
  margin-left: auto;
}
.promoWithTotal ul {
  margin: 0;
  padding: 0;
}
.totalWithTax span {
  width: 10px;
}
.orderMessage {
  margin-top: 15px;
}
.orderMessage p {
  margin: 0;
}
.orderMessage textarea {
  width: 100%;
  resize: none;
  padding: 3px 10px;
  margin-top: 2px;
  background: transparent;
}
.selectedSecviceOptn {
  margin-top: 15px;
}
.selectedSecviceOptn p {
  margin: 0;
}
.typesOfPayment,
.modeOfPayment,
.promoCode,
.placeOrder {
  margin-top: 15px;
}
.typesOfPayment ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 5px;
}
.typesOfPayment ul li {
  border: 1px solid;
  padding: 20px;
  width: calc(94% / 3);
  height: 150px;
  margin-right: 3%;
  text-align: center;
  background-color: white;
  font-weight: 600;
  border-radius: 10px;
}
.typesOfPayment ul li:last-child {
  margin-right: 0;
}
.typesOfPayment p {
  margin: 0;
  margin-bottom: 10px;
}
.modeOfPayment p {
  margin: 0;
}
.promoCode {
  position: relative;
  /* padding: 0 10px; */
}

.promoCode p {
  margin: 0;
}
.promoCode input {
  width: 100%;
  padding: 3px 10px;
  height: 35px;
  background: transparent;
  border: 1px solid;
}
.promoApplyBtn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  border: none;
  background: transparent;
}
.placeOrderBtn {
  border: none;
  width: 100%;
  padding: 10px 0;
  background-color: #ff0000;
  box-shadow: none;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 10px;
  color: #fff;
  letter-spacing: 1px;
  font-size: 17px;
}

/* Rakesh's Css */
.orderMultiSec {
  display: flex;
  /* border: 1px solid; */
  width: 100%;
  padding: 30px;
  color: black;
  margin-bottom: 15px;
}
.myOrderSec {
  width: 60%;
}
.myOrderRightSec {
  width: 40%;
}
.orderMainLeftSec,
.myOrderRightSec {
  padding: 20px;
}
.myOrderRightSec {
  /* border: 1px solid; */
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 40px;
}
nav.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}
.navbarToggle {
  position: absolute;
  background: white;
  width: 100%;
  left: 0;
}
.navbarToggle li {
  padding-left: 15px;
}
@media only screen and (max-width: 992px) {
  .navbarToggle {
    display: block !important;
  }
  .orderMultiSec {
    display: block;
  }
  .myOrderSec,
  .myOrderRightSec {
    width: 100%;
  }
}
